<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>News NLP by Mark Guerrero</title>
</head>

<body>
  <header>
    <h1>Meaning Cloud Sentiment Analysis, a Udacity Project by Mark Guerrero</h1>
  </header>
  <main>
    <section>
      <form onsubmit="handleSubmit()">
        <input id="sentimentText" type="text" name="input" value="" placeholder="Enter Sentiment Text" />
        <input id="btnSubmit" type="submit" name="btnSubmit" value="ANALYZE SENTIMENT" />
        <div class="errorMessage hide">
        </div>
      </form>
    </section>
    <section>
      <strong>Results:</strong>
      <ul class="results">
        <li><label>Model: <span class="model"></span></label></li>
        <li><label>Score Tag: <span class="scoreTag"></span></label></li>
        <li><label>Agreement: <span class="agreement"></span></label></li>
        <li><label>Subjectivity: <span class="subjectivity"></span></label></li>
        <li><label>Confidence: <span class="confidence"></span></label></li>
        <li><label>Irony: <span class="irony"></span></label></li>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy;2021 Meaning Cloud Sentiment Analysis by Mark Guerrero</p>
  </footer>
  <script src="main.js"></script>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>

</html>